@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
    <img src="https://examsvito.azurewebsites.net/pictures/PXL_20230716_163656207.MP.jpg"
</div>
